.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 60px;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  padding-bottom: 5px;
}

.button_active {
  border-width: 3px;
  border-color: #ea473e;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.button:hover {
  border-width: 3px;
  border-color: #ea473e;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.button:first-of-type {
  margin-left: 100px;
  margin-top: 20px;
}

.button:last-of-type {
  margin-right: 0;
}

.name_en {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.name_en:hover {
  color: #ea473e;
  -webkit-transition: 0.1s linear color;
  -o-transition: 0.1s linear color;
  transition: 0.1s linear color;
}

.name_en_active {
  color: #ea473e;
  -webkit-transition: 0.1s linear color;
  -o-transition: 0.1s linear color;
  transition: 0.1s linear color;
}

.name_ru {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #c9c9c9;
}

.name_ru:hover {
  color: #0f0d0e;
  -webkit-transition: 0.2s linear color;
  -o-transition: 0.2s linear color;
  transition: 0.2s linear color;
}

.name_ru_active {
  color: #0f0d0e;
  -webkit-transition: 0.2s linear color;
  -o-transition: 0.2s linear color;
  transition: 0.2s linear color;
}

@media all and (max-width: 768px) {
  .button {
    margin-right: 30px;
  }
  .button:first-of-type {
    margin-left: 0px;
  }
}

@media all and (max-width: 690px) {
  .button {
    margin-right: 20px;
  }
}

@media all and (max-width: 635px) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    padding-bottom: 5px;
  }
  .button:last-of-type {
    margin-right: 20px;
    margin-bottom: 50px;
  }
  .button:hover {
    border-width: 3px;
    border-color: #ea473e;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .button_active {
    border-width: 3px;
    border-color: #ffffff;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .button:first-of-type {
    margin-left: 0px;
    margin-top: 50px;
  }
  .name_en {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
  }
  .name_ru {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
  }
}
