@keyframes show-card {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.card-enter {
  opacity: 0.01;
}

/* Такая система классов позволяет элементам появляться плавно */
/* А вся анимация при монтированнии срабатывает "между" этими классами */
.card-enter-active {
  animation: show-card 300ms linear forwards;
}

/* Этот класс и следующий сработают при размонтировании */
.card-exit {
}

/* Аналогично и с размонтированием — это позволяет элементам плавно исчезать  */
.card-exit-active {
  animation: delete-note 300ms linear forwards;
}
