.header {
  padding-top: 70px;

  font-size: 12px;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  width: 100%;
}

.subtitle {
}

.title {
  margin-bottom: 15px;

  font-size: 2.5rem;
}

.title span {
  color: #ea473e;
}

.address {
  margin-bottom: 8px;
}

.address,
.time {
  position: relative;

  padding-left: 18px;
}

.address::before,
.time::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;

  height: 12px;

  background-repeat: no-repeat;
  background-size: contain;

  transform: translateY(-50%);
}

.address::before {
  width: 11px;

  background-image: url('../../assets/images/icons/address.svg');
}

.time::before {
  width: 12px;

  background-image: url('../../assets/images/icons/clock.svg');
}

@media all and (max-width: 768px) {
  .container {
    margin-left: 30px ;
  }
}
