@keyframes show-card {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes show-loader {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes hide-loader {
  0% {
    opacity: 1;
    transform: translateY(0px) rotate(360deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px) rotate(0deg);
  }
}

@keyframes rotate-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.card-enter {
  opacity: 0.01;
}

/* Такая система классов позволяет элементам появляться плавно */
/* А вся анимация при монтированнии срабатывает "между" этими классами */
.card-enter-active {
  animation: show-card 300ms linear forwards;
}

/* Этот класс и следующий сработают при размонтировании */
.card-exit {
}

/* Аналогично и с размонтированием — это позволяет элементам плавно исчезать  */
.card-exit-active {
  animation: delete-note 300ms linear forwards;
}

.loader-enter-active {
  animation: show-loader 0.5s forwards;
}

.loader-enter-done {
  animation: rotate-loader 0.5s infinite;
}

.loader-exit-active {
  animation: hide-loader 0.5s forwards;
}
