@keyframes show-card {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotate-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-animation-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-animation-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.card-enter {
  opacity: 0.01;
}

/* Такая система классов позволяет элементам появляться плавно */
/* А вся анимация при монтированнии срабатывает "между" этими классами */
.card-enter-active {
  animation: show-card 300ms linear forwards;
}

/* Этот класс и следующий сработают при размонтировании */
.card-exit {
}

/* Аналогично и с размонтированием — это позволяет элементам плавно исчезать  */
.card-exit-active {
  animation: delete-note 300ms linear forwards;
}

.loader-appear,
.loader-enter {
  opacity: 0;
}

.loader-appear-active,
.loader-enter-active {
  opacity: 1;
  animation: rotate-loader 0.5s infinite;
}
.loader-exit {
  opacity: 1;
}

.loader-exit,
.loader-exit-active {
  opacity: 0;
}

.loader-exit-done {
  opacity: 0;
}

.text-appear,
.text-enter {
  opacity: 0;
}

.text-appear-active,
.text-enter-active {
  opacity: 0;
  animation: text-animation-show 3s linear;
}
.text-exit {
  opacity: 1;
}

.text-exit,
.text-exit-active {
  opacity: 1;
  animation: text-animation-hide 3s linear;
}

.text-exit-done {
  opacity: 1;
}
